<style>
    .header_block {
        background: #F2FFF2;
        border: 1px solid #DAF2DA;
        padding: 5px;
    }
</style>
<div class="header_block">
    <div>
        MVC:
        <a href="/">Main page</a>
        &nbsp;
        <a href="/view/get">Get (both methods)</a>
        &nbsp;
        <a href="/view/create">Create</a>
        &nbsp;
        <a href="/view/delete">Delete</a>
        &nbsp;
        <a href="/view/show_table">Show_table</a>
        &nbsp;
        <a href="/view/error">Error page</a>
    </div>
    <div>
        REST:
        <a href="/service/get_all">get_all_urls</a>
    &nbsp;</div>
</div>