<style>
    .header_block {
        background: #F2FFF2;
        border: 1px solid #DAF2DA;
        padding: 5px;
    }
</style>
<div class="header_block">
    <div>
        MVC:
        <a href="/">Main page</a>
        &nbsp;
        <a href="/service/get">get</a>
        &nbsp;
        <a href="/service/create">create</a>
        &nbsp;
        <a href="/service/delete">delete</a>
        &nbsp;
        <a href="/service/show_table">show_table</a>
        &nbsp;
        <a href="/service/error">error</a>
    </div>
    <div>
        REST:
        <a href="/get_all">get_all</a>
    &nbsp;</div>
</div>