<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<th:block th:insert="/_topMenu"/>
<div>
    <H1>Main page</H1>
    <p><a href=http://localhost:8080/h2-console>Go to H2 admin menu</a></p>
    <p>Hello, my friend!</p>
    <p>This simple site is for testing my REST requests from under the website.</p>
    <p>The server is RESTfull on JSON with H2 memory. But I've added an MVC controller to demonstrate how the services work.</p>
</div>
</body>
</html>